/* RESET */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(69, 113, 196);
  padding: 15px 7%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: all 0.4s ease;
}

.logo {
  width: 160px;
  cursor: pointer;
}

/* NAVBAR MENU */
.navbar-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* DROPDOWN */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown-arrow-icon {
  width: 10px;
  transition: transform 0.3s ease;
}

.dropdown:hover .dropdown-arrow-icon {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px 0;
  min-width: 150px;
  display: none;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #f5f5f5;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 8px 14px;
  border-radius: 30px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  max-width: 150px;
}

.search-box input::placeholder {
  color: #ccc;
}

.search-box img {
  width: 18px;
  margin-left: 8px;
  cursor: pointer;
}

/* TOGGLE & BUTTON */
.toggle-icon {
  width: 48px;
  height: auto;
  cursor: pointer;
  margin: 0 20px;
  transition: transform 0.3s ease;
}


.logout-button {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e60000;
}

/* DARK MODE */
.dark .navbar {
  background: #000;
}

.dark .navbar-menu li a {
  color: white;
}

.dark .dropdown-menu {
  background-color: #222;
}

.dark .dropdown-menu li a {
  color: white;
}

.dark .search-box {
  background: #f5f5f5;
}

.dark .search-box input {
  color: #000;
}

.dark .search-box input::placeholder {
  color: #555;
}

.navbar-right {
  display: flex;
  align-items: center;
  /* Alinha verticalmente */
  gap: 12px;
  /* Espaço entre o toggle e o botão */
}

.toggle-icon {
  width: 32px;
  /* Ajuste o tamanho para ficar proporcional */
  height: 32px;
  cursor: pointer;
  display: block;
  object-fit: contain;
  /* Mantém a proporção da imagem */
}