.sidebar {
  position: relative;
  width: 250px;
  flex-shrink: 0;
  height: calc(100vh - 60px);
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}

.sidebar.closed h2,
.sidebar.closed a {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.sidebar h2 {
  padding: 20px;
  transition: opacity 0.3s ease-in-out, visibility 0s;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar a {
  display: block;
  padding: 15px 20px;
  color: #222;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, visibility 0s;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.toggle-sidebar {
  position: absolute;
  top: 70px;
  left: 245px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 100;
}

.toggle-sidebar.rotated {
  left: 10px;
  transform: rotate(180deg);
}

.sidebar.light {
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.light h2,
.sidebar.light a {
  color: #333; 
}

.sidebar.dark {
  background-color: #222; 
  box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
}

.sidebar.dark h2 {
  color: #f8f9fa; 
}

.sidebar.dark a {
  color: #adb5bd; 
}

.sidebar.dark a:hover {
  background-color: #222; 
}