.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #fff;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #e9ecef;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

thead th {
  background-color: #f1f3f5;
  color: #333;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:hover {
  background-color: #e2e6ea;
}

.no-data {
  text-align: center;
  padding: 20px;
  color: #6c757d;
}

.data-vencida {
  color: #dc3545;
  font-weight: bold;
}