/* No seu App.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; /* Adicione width: 100vw aqui */
  background: #ffffff; /* Adicione a cor de fundo aqui */
  transition: 0.5s; /* Adicione a transição aqui */
}

.container.dark {
  background: #222;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  margin-top: 60px;
  position: relative;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.main-layout.sidebar-closed .content {
    margin-left: 0;
}