/* No seu App.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; /* Adicione width: 100vw aqui */
  background: #ffffff; /* Adicione a cor de fundo aqui */
  transition: 0.5s; /* Adicione a transição aqui */
}

.container.dark {
  background: #222;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  margin-top: 60px;
  position: relative;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.main-layout.sidebar-closed .content {
    margin-left: 0;
}

.footer{
background-color: #55cece;
font-size: 14px;
font-family: Poppins, Bold;
padding: 10px;
align-items: center;
display: flex;
justify-content: center;
box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;}