/* No seu App.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; /* Adicione width: 100vw aqui */
  background: #ffffff; /* Adicione a cor de fundo aqui */
  transition: 0.5s; /* Adicione a transição aqui */
}

.container.dark {
  background: #222;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  margin-top: 60px;
  position: relative;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.main-layout.sidebar-closed .content {
    margin-left: 0;
}

.footer{
background-color: #55cece;
font-size: 14px;
font-family: Poppins, Bold;
padding: 10px;
align-items: center;
display: flex;
justify-content: center;
box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
}

/* Estilo para container da tela de login */
.container.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f9fb;  /* cor clara para o fundo do login */
  height: 100vh;         /* altura total da viewport */
  width: 100vw;          /* largura total da viewport */
}

/* Ajuste para que na tela de login o main-layout não tenha margin-top */
.container.login .main-layout {
  margin-top: 0;
  display: block; /* ou flex, conforme precisar */
  flex-grow: 0;
}
